@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@500;600&family=Mukta&family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');


body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;     
    font-family: Open Sans, sans-serif;   
    font-style: normal;  
}
ul li {
    list-style: none;   
}
ul, h1, h2, h3, p {
    padding: 0;
    margin: 0;
}
h2, h1 {
    color: #264A51;
    text-align: center;
    font-family: Dosis, sans-serif;    
    font-style: normal;
    font-weight: 600;   
}

button {
    width: 140px;
    height: 43px;
    border-radius: 3px;
    border: 1.5px solid #43717D;
    background: rgba(108, 176, 195, 0.00);
    padding: 8px 16px;
    color: #264A51;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.675px;
    cursor: pointer; 
}

.page__main {    
    display: flex;
    background-image: url('../pictures/main/main.jpg');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;    
    height: 810px;    
}
.header__col__logo {   
    display: block;
    margin-top: 19px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto 
}
/* header aside */
.header__col {    
    background-color: #002a32;
    width: 165px;
}
.navigation__list {
    padding: 0;
}
.navigation__list__item__wrapper {  
    width: 165px;
    height: 98px;   
}
.navigation__list__link {    
    display: block;   
    color: #8999A1;
    text-align: center;    
    font-size: 15px;    
    font-weight: 400;
    line-height: normal;   
}
.navigation__list__logo {    
    margin: 20px 66px 0px 66px;
   
}
.navigation__list__item:hover {
    background-color: #3C6C7F;
}
.article__main {
    position: relative;
    padding-top: 30px;
    width: 1275px;
}

.sub__header {  
    display: flex;
    width: 100%;    
    min-height: 70px;
}
.sub__header__item {
    display: inline-block;
}
.sub__header__left svg {
    padding-left: 12px;
}
.sub_header__right svg {
    padding-right: 14px;
}
.sub__header__left{
    margin-left: 95px;
    margin-right: 340px;
}
.sub__header__left li {
    padding-right: 33px;
}
.sub_header__right li {
    padding-left: 35px;
}
.sub__header__item span {
    color: #DD6060;
    font-family: Open Sans;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sub__header__item a {
    text-transform: uppercase;
    color: #3E5860;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.64px;
}
.main {
    position: relative;
}
.wrapper__sofa {
    position: absolute;
    width: 195px;
    height: 140px;
    top: 86px;
    right: 381px;
}
.title__main {    
    position: absolute;
    top: 160px;
    left: 95px;
    width: 395px;
}
.title__main p {
    color: #4E6E77;
    margin: 0 0 9px 0;
    font-family: Dancing Script;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.title__main h1 {    
    margin-top: 10px;
    margin-bottom: 10px;    
    text-align: start;
    font-size: 50px;
    line-height: 133.5%;
    letter-spacing: 2.25px    
}
.main__dots {    
    position: absolute;
    top: 671px;
    right: 686px;
    width: 67px;
    height: 13.862px;   
}
/* Page Supporting company */
.supporting-company {    
    display: flex;
    flex-wrap: wrap;    
    background: #D2E2EE;   
    height: 140px;
}
.supporting-company ul {
   display: flex;
   align-items: center;   
   margin-left: 209px;
   margin-right: 193px;    
}
.supporting-company .item1 {
    margin-right: 105px;
}
.supporting-company .item2 {
    margin-right: 70px;
}
.supporting-company .item3 {
    margin-right: 60px;
}
.supporting-company .item4 {
    margin-right: 75px;
}
.supporting-company .item5 {
    margin-right: 82px;
}
/* page Our Products */
.products {
    width: 100%;
    height: 100%;
}
.page__products {
    padding: 103px 165px;  
    display: flex;    
    background: #F3F3F3;    
}
.products__title {
    text-align: center;
    padding-bottom: 45px;
    width: 100%;  
    font-size: 46px; 
    letter-spacing: 2.07px;   
}
.product__menu {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 33px 34px 43px;
}
.product__menu_link {
    color: #264A51;
    padding: 6px 5px;
    text-align: center;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.07px;
    border: 2px solid transparent;
    cursor: pointer;
}
.product__menu_link:hover {
    border-radius: 2px;
    border: 2px solid #3E5860;   
}
.product__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.product__items__card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
}
.card-picture {
    display: flex;    
    align-items: center;
    justify-content: center;
    position: relative;    
    width: 350px;
    height: 316px;
    margin-bottom: 12px;
    border-radius: 3px;
    background: #F1F6F9;    
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.product-btn {    
    position: absolute;
    bottom: 25px;
    left: 75px;
}
.product-stickers {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 294px;
    width: 38px;
    height: 90px;
}
/* discont */
.product-stickers__discont__wrapper {
    display: flex;
}
.product-stickers__discont_title {
    position: absolute;
    top: 9px;
    left: 5px;
    color: #FFF;
    font-family: Mukta;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}
/* label */
.product-stickers__lable__wrapper {
    position: relative;
    display: flex;
}
.product-stickers__lable_title {
    position: absolute;
    top: 9px;
    left: 7px;
    color: #D4DCE2;
    font-family: Mukta;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-name, .product-price {
    color: #264A51;
    text-align: center;
    font-family: Mukta;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.button-product {
    position: absolute;
    top: 152px;
    left: 265px;
    width: 85px;
    height: 30px;
    padding: 4px 6px 6px 7px;
    color: #FFF;
    font-family: Mukta;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    border-radius: 2px 0px 0px 2px;
    background: #264A51;
}
.btn_none {
    display: none;
}
/* Page product description */

.product__description {
    position: relative;
    background-image: url(./pictures/description/font_product_description.jpg);    
    height: 735px;
}
.product__description__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 195px;
    left: 162px;
}
.discont__trendy-sofa {
    padding-bottom: 5px;    
    color: #F3B705;
    opacity: 0.5;
    text-align: center;
    font-family: Dosis, sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 4.05px;
}
.product__description__title {
    padding-bottom: 20px;     
    text-align: center;    
    font-size: 60px;
    letter-spacing: 2.7px;    
}
.product__description__text {
    display: block;    
    width: 389px;
    height: 90px;
    padding-bottom: 17px;
    color: #335E74;
    text-align: center;
    font-family: Mukta;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.675px;    
}
.product__description__button {
    border: 2px solid #264A51;
}
/* Page Gallery */

.gallery__product {
    height: 2230px;
    background: #F3F3F3;
    padding: 116px 160px 98px 165px;
}
.gallery__product_card {
    position: relative;
    display: flex;    
    margin-bottom: 114px;
}
.special__wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
    align-items: center;
}
.special__wrp_btn {
    display: inline-block;
    align-items: center;
}
.gallery__product_description {
    display: flex;
    padding-left: 41px;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}
.gallery__product_picture {
    position: relative;
}
.gallery__product_description_title {
    font-size: 46px;
    letter-spacing: 1.755px;
}
.gallery__product_description_text {
    display: block;
    color: #335E74;
    text-align: center;
    font-family: Mukta;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.675px;
}
.gallery_block {
    position: absolute;
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: rgba(113, 179, 198, 0.85);
    position: absolute;    
    bottom: 57px;
    left: 535px;
    width: 129px;
    height: 148px;
}
.gallery_block_name {    
    color: #FFF;    
    font-family: Dosis;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

/* page gallery  Diving*/
.gallery__product_card-dining {    
    flex-direction: row-reverse;   
}
.gallery_block-dining {
    left: -62px;
}
.gallery__product_card-dining .gallery__product_description{
    padding-left: 0;
    padding-right: 83px;
}
/* page gallery  Bed*/
.gallery__product_card-bed .gallery__product_description{
    padding-left: 97px;
}
.gallery_block-bed {
    left: 559px;
}
/* page gallery  Kitchen*/
.gallery__product_card-kitchen {
    flex-direction: row-reverse;
}
.gallery__product_card-kitchen .gallery__product_description {
    padding-left: 0;
    padding-right: 53px;
}
.gallery_block-kitchen {
    left: -66px;
}
/* Page Subscribe */
.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 377px; 
    padding-top: 177px;   
    background:        
    linear-gradient(
    rgba(93, 155, 201, 0.69), 
    rgba(93, 155, 201, 0.69)
    ),        
    url(./pictures/main/subscribe.jpg);
}
.subscribe__title {       
    font-size: 46px;
    letter-spacing: 2.07px;       
}
.subscribe__text { 
    padding-top: 11px;
    padding-bottom: 19px;       
    width: 389px;
    height: 59px;
    color: #FFF;
    text-align: center;
    font-family: Mukta;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.675px;
}
.custom-search {
    position: relative;
    width: 460px;
}
.custom-search-input {
    width: 100%;
    height: 46px;        
    border-radius: 50px;
    background: #DAE5EE;
    /* box-shadow: 0px 15px 30px 0px rgba(34, 34, 34, 0.11);         */
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}
.custom-search-botton {
    position: absolute;
    height: 46px;
    right: 0; 
    top: 0;
    bottom: 0;
    border-radius: 50px;
    background: rgba(38, 74, 81, 0.89);
    box-shadow: -2px 15px 40px 0px rgba(0, 0, 0, 0.11);       
    color: #FFF;
    text-align: center;
    font-family: Mukta;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}
    /* Page Footer */
.footer {
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 117px 165px 0px 189px ;
    background: #F3F3F3;
}
.footer__wrapper {
    display: flex;
    padding-bottom: 42px;
}
.footer__social, .footer__contact {
    display: flex;
    flex-direction: column;
}
.footer__explore {
    width: 185px;
}
.footer__explore__list li {
    padding-bottom: 9px;
}
.footer__contact {
    width: 300px;
}
.footer__socials__logo {
    margin-top: 5px;
}
.footer__social__text,
.contact__adress,
.footer__contact__tel,
.footer__contact__mail 
{       
    color: #335E74;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.175px;        
    letter-spacing: 0.63px;
}
.footer__social__text {
    width: 375px;
    height: 59px;
    margin-top: 18px;
    margin-bottom: 13px;
}
.footer__explore__list-item_link {
    color: #335E74;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;        
    letter-spacing: 0.63px;
}
.contact__adress {
    padding-bottom: 9px;
}
.explore__title, .contact__title,
.service-hours__title {
    padding-bottom: 25px;
    color: #264A51;
    font-family: Mukta;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;       
    letter-spacing: 1.25px;
}
.spacing {
    letter-spacing: 0.42px;        
}
.footer__service-hours__wrapper {
    padding-top: 21px;
    width: 234.786px;
    height: 120px;
    border-radius: 7px;
    background: #A0C7EA;
}
.footer__service-hours__wrapper li {
    padding-top: 6px;
    padding-left: 21px;
}
.footer__service-hours__day {        
    color: #335E74;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;        
    letter-spacing: 0.42px;
    padding-bottom: 9px;
    
}
.footer__service-hours__hour {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;        
    letter-spacing: 0.42px;
}
.sub__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3E2EF;
    color: #335E74;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.45px;
}
    

   